{% extends 'base.html' %}

{% block style %}
    {% include "atualizacao_view_style.html" %}
{% endblock style %}

{% block title %} 
    Huddle Engenharia Clínica HJV
{% endblock title %}

{% block content %}
    {% include "atualizacao_view_base.html" %}
    <script>
        function buttonAtualizacao(botao){
            if (botao == 1)
            {
                id = document.getElementById("idAtual").textContent;
                id = id.replace("ID: ", "")
                location.href = "/cadastrarAtualizacao/" + id;
            }
            if (botao == 2)
            {
                id = document.getElementById("idAtual").textContent;
                id = id.replace("ID: ", "")
                location.href = "/cadastrarAtualizacaoEstado/" + id;
            }
        }
        function irPendenciaViewSetor()
        {
            location.href = "/adm/pendenciasSetor/" + {{ idSetor }};
        }   
    </script>

{% endblock content %}