{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}
Nova Pendência Huddle
{% endblock title %}

{% block tituloPagina %}

{% endblock tituloPagina %}

{% block content %}

<form method="post">
        {% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit" class="btn btn-primary">
        Salvar
    </button>
    <button onclick="voltar()" class="btn btn-primary">
        Voltar
    </button>
</form>

<script>
    function voltar(){
        location.href = "/adm"
    }
</script>

{% endblock content %}